.main {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.main-div {
    width: min(450px, 95%);
    box-sizing: border-box;
}

/* Logo plus the line */

#words {
    letter-spacing: 5px;
    font-size: 3.5rem;
}

#words-line {
    height: 10px;
    border-radius: 10px;
}


/* Form */

.edit-form {
    background-color: #B6BBC4;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 30px;
    width: 100%;
    box-sizing: border-box;
}



h2 {
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 1.5rem;
    color: #161A30;
}

label {
    display: block;
    color: #1450A3;
    font-weight: bold;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.1rem;
    letter-spacing: 1px;
    margin-top: 20px;
    margin-bottom: 5px;
}


.buttons {
    display: flex;
    justify-content: space-between;
    font-family: 'Titillium Web', sans-serif;
    margin-top: 35px;
}

.save-button {
    background-color: #3498db;
    padding: 12px;
    border: none;
    border-radius: 5px;
}

.delete-button:hover {
    background-color: #e74c3c;
}

.save-button:hover {
    background-color: #2980b9;
}

@media only screen and (max-width: 420px) {
    label {
        font-size: 1rem;
        
    }

    .edit-form {
        padding-left: 15px;
        padding-right: 15px;
    }

    .save-button {
        padding: 10px;
    }
}
