@layout PublicLayout
@page "/homepage"
@inject NavigationManager NavigationManager

<div class="main">
    <div class="homepage-background">

        <h1>Words</h1>
        <hr />

        <button type="button" class="btn btn-primary" @onclick="ToLoginPage">Login</button>
        <button type="button" class="btn btn-primary" @onclick="ToRegisterPage">Signup</button>
    </div>
</div>
@code {

    void ToLoginPage()
    {
        NavigationManager.NavigateTo("loginpage");
    }

    void ToRegisterPage()
    {
        NavigationManager.NavigateTo("registerpage");
    }
}
