@* @page "/homepage" *@
@page "/"
@inject NavigationManager NavigationManager
@inject ILocalStorageService LocalStorage


<div class="main">
    <div class="homepage-background">

        <h1>Words</h1>
        <hr />

        <button type="button" class="btn btn-primary" @onclick="ToLoginPage">Login</button>
        <button type="button" class="btn btn-primary" @onclick="ToRegisterPage">Signup</button>
    </div>
</div>
@code {
    [CascadingParameter]
    public Task<AuthenticationState> AuthState { get; set; }

    void ToLoginPage()
    {
        NavigationManager.NavigateTo("loginpage");
    } 

    void ToRegisterPage()
    {
        NavigationManager.NavigateTo("registerpage");
    } 

    /// <summary>
    /// Checks if the user has been authenticated before showing page
    /// If authenticated then redirect user to a different page (words page)
    /// </summary>
    /// <returns></returns>
    protected override async Task OnInitializedAsync()
    {
        var user = (await AuthState).User;
        if (user.Identity is not null && user.Identity.IsAuthenticated)
        {
            // Get the user id from claim
            var userIdClaim = user.FindFirst("Sub");
            if (userIdClaim != null)
            {
                var userId = userIdClaim.Value;

                NavigationManager.NavigateTo($"/wordspage/{userId}");
            }
        }

        await base.OnInitializedAsync();
    }

}
