@layout PublicLayout
@page "/homepage"

<div class="main">
    <div class="homepage-background">

        <h1>Words</h1>
        <hr />

        <button type="button" class="btn btn-primary">Login</button>
        <button type="button" class="btn btn-primary">Signup</button>
    </div>
</div>
@code {

}
