@layout PublicLayout
@page "/loginpage"

<div class="flex-container">

    <div class="card-background">
        <div>
            <h1>Words</h1>
            <hr />
        </div>
        <div class="form-background">
            <h2>Login</h2> 

                <EditForm Model="userDto" OnValidSubmit="HandleSubmit">
                    <p> @invalidPasswordWarning</p>
                    <DataAnnotationsValidator />
                    <div class="mb-3">
                        <label for="username" class="form-label">User name</label>
                    <InputText class="form-control" @bind-Value="userDto.UserName" id="username" />
                    <ValidationMessage For="@(() => userDto.UserName)" />
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                    <InputText type="password" class="form-control" @bind-Value="userDto.Password" id="password" />
                    <ValidationMessage For="@(() => userDto.Password)" />
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </EditForm>
        </div>

    </div>

</div>

@code {
    UserLoginDto userDto = new UserLoginDto { };

    string invalidPasswordWarning = "";

    void HandleSubmit()
    {
        
    }
}
