@* @layout PublicLayout *@
@page "/registerpage"
@inject NavigationManager NavigationManager
@inject HttpClient Http

@* <MudCard>
    <MudForm Model="user">
        <MudCardContent>
            <MudTextField @bind-Value="TextValue" Label="Standard" Variant="Variant.Text" Margin="Margin.Dense"></MudTextField>
            <MudTextField @bind-Value="TextValue" Label="Filled" Variant="Variant.Filled" Margin="Margin.Dense"></MudTextField>
            <MudTextField @bind-Value="TextValue" Label="Outlined" Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField>
        </MudCardContent>
    </MudForm>
</MudCard> *@

 <div class="flex-container">

    <div class="card-background">
        <div>
            <h1>Words</h1>
            <hr />
        </div>
        <div class="form-background">
            <h2>Register</h2>
                   
                  <EditForm Model="userRegisterDto" OnValidSubmit="HandleSubmit">
                    <p> @userNameExistsWarning</p>
                    <DataAnnotationsValidator/>
                    <div class="mb-3">
                        <label for="username" class="form-label">User name</label>
                        <InputText class="form-control" @bind-Value="userRegisterDto.Username" id="username"/>
                        <ValidationMessage For="@(() => userRegisterDto.Username)" />
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                    <InputText type="password" class="form-control" @bind-Value="userRegisterDto.Password" id="password" />
                    <ValidationMessage For="@(() => userRegisterDto.Password)" />
                    </div>
                    <div class="mb-3">
                        <label for="password2" class="form-label">Confirm password</label>
                    <InputText type="password" class="form-control" @bind-Value="userRegisterDto.Password2" id="password2" />
                    <ValidationMessage For="@(() => userRegisterDto.Password2)" />
                    </div>
                    <button type="submit" class="btn btn-primary">Register</button>
                </EditForm>
                
        </div>

    </div>

</div> 

@code {
    [CascadingParameter]
    public Task<AuthenticationState> AuthState { get; set; }

    UserRegisterDto userRegisterDto = new UserRegisterDto { Username = "Carlton", Password = "12345678", Password2 = "12345678" };

    string userNameExistsWarning = "";

    /// <summary>
    /// Checks if the user has been authenticated before showing page
    /// If authenticated then redirect user to a different page (words page)
    /// </summary>
    /// <returns></returns>
    protected override async Task OnInitializedAsync()
    {
        var user = (await AuthState).User;
        if (user.Identity is not null && user.Identity.IsAuthenticated)
        {
            var userIdClaim = user.FindFirst("Sub");

            if (userIdClaim != null)
            {
                var userId = userIdClaim.Value;

                NavigationManager.NavigateTo($"/wordspage/{userId}");
            }
        }

        await base.OnInitializedAsync();
    }

    

    async Task HandleSubmit()
    {
        var users = await Http.GetFromJsonAsync<List<ApplicationUser>>("api/user");

        if(users is not null)
        {
            bool userNameExists = users.Where((c) => c.Username.Equals(userRegisterDto.Username)).Count() != 0;

            if(userNameExists)
                userNameExistsWarning = "Username already exists";
            else
            { // Create new user
                
                // Console.WriteLine("Create the user");
                // Console.WriteLine(userRegisterDto.Username);
                var currentUser = await Http.PostAsJsonAsync<UserRegisterDto>("api/user/register", userRegisterDto);
                NavigationManager.NavigateTo("loginpage");
            }
        }
    }
}
