@layout PublicLayout
@page "/registerpage"

<div class="flex-container">

    <div class="card-background">
        <div>
            <h1>Words</h1>
            <hr />
        </div>
        <div class="form-background">
            <h2>Register</h2>

                <form>
                    <div class="mb-3">
                        <label for="exampleInputText" class="form-label">Email</label>
                        <input type="email" class="form-control" id="exampleInputText" required>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputText" class="form-label">User name</label>
                        <input type="text" class="form-control" id="exampleInputText" required>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" required>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Confirm password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
        </div>

    </div>

</div>

@code {

}
