@page "/wordspage"

<div class="main">

    <h1>Words</h1>

    <hr />
    <button class="btn btn-primary">Add Word</button>

    <div class="container">
        <a href="#effervescent" class="word-card">
            <div class="word-header">
                <h3>Effervescent</h3>
            </div>
            <p>Giving off bubbles; lively and enthusiastic.</p>
        </a>

        <a href="#serendipity" class="word-card">
            <div class="word-header">
                <h3>Serendipity</h3>
            </div>
            <p>The occurrence and development of events by chance in a happy or beneficial way.</p>
        </a>

        <a href="#mellifluous" class="word-card">
            <div class="word-header">
                <h3>Mellifluous</h3>
            </div>
            <p>(of a voice or words) Sweet or musical; pleasant to hear.</p>
        </a>

        <a href="#ubiquitous" class="word-card">
            <div class="word-header">
                <h3>Ubiquitous</h3>
            </div>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque suscipit erat nec tempus
                feugiat. Phasellus eu tortor suscipit, laoreet libero quis, venenatis tellus.
            </p>
        </a>
    </div>
</div>

@code {

}
